/* RESET  */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* FONT  */

*
{
    font-family:Arial, Helvetica, sans-serif;
}

/* GENERAL */

.container{
    width: 70%;
    margin: auto;
    background-color: rgb(255, 217, 0);

}

.border {
    border: 2px dashed black;
 
}


    /* HEADER  */ 

     /* INIZIO FIRST-HEADER  */ 
.first-header{
    background-color: aqua;
    height: 50px;
    display: flex;
    align-items: center;
}

.container-header{
    display: flex;
}

.header-column-one{
    display: inline-block;
    width: 20%;
    padding: 5px;
    


}

.header-column-two{
    display: inline-block;
    width: 60%;
    text-align: center;
    padding: 5px;

}

.header-column-three{
    display: inline-block;
    width: 20%;
    padding: 5px;
    text-align: right;
    
}

.second-header{
    background-color: blue;
    height: 600px;

}

     /* FINE FIRST-HEADER  */ 

     /* INIZIO SECOND-HEADER  */ 

.second-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-header-container{
    width: 60%;
    height: 80%;
    background-color: pink;
}

     /* FINE SECOND-HEADER  */ 

    /*  FINE HEADER  */

    /* MAIN  */

    section{
        height: 600px;
    
    }
    .section{
        background-color: lightgray;
    
    }




    /*  FINE MAIN  */


    /* FOOTER  */

.first-footer{
    height: 600px;
    background-color: rgb(66, 65, 65);

}

.second-footer{
    height: 50px;
    background-color: rgb(66, 65, 65);
    margin-top: 2px;

}


    /* FINE FOOTER  */


/* DEGUB */

